@media (min-width: 0px) and (max-width:576px){

    /* start nav  */

    .navbar.position-fixed {
        position: relative !important;
      }

    nav .hire{
        width: 30% !important;
        margin: auto;
    }

    nav .toggleDark{
        margin-left: 7%;
        margin-bottom: 2%;
    }

    nav #toggleDark{
        display: flex;
        justify-content: center;
    }

    nav img{
        width: 70%;
    }

    /* end nav  */


    /* start header  */
    header{
        padding-top: 20%;
    }

    .header_img{
        width: 100%;
    }

    header .header_img .adhamImg{
        width: 85%;
        margin-left: -5%;
    }


    .header_content{
        text-align: center;
    }

    header h1{
        margin-top: 3px;
        font-size: 40px;
    }
    /* end header  */

    /* start about  */

    .about_section{
        text-align: center;
    }

    .about_section .completeProjects{
        width: 100%;
        justify-content: center;
    }

    .about_section .aboutImg img{
        width: 100%;
    }

    /* end about  */


    /* start projects  */

    .projects .veiwMore{
        margin: auto;
        width: 36%;
    }

    .projects .website3{
        padding-top: 10%;
    }
    /* end projects  */


    /* start contact  */

    .contact_section .contactsOrange{
        display: none;
    }

    .contact_section .sendButton{
        display: flex;
        justify-content: center;
    }
    /* end contact  */


    /* start footer  */
    footer{
        text-align: center;
    }

    footer .footerSocials{
       flex-direction: row !important;
       justify-content: center;
    }

    /* end footer  */

    /* ****************************** end page ****************************** */


    /* ****************************** thank you page ****************************** */

    .thanksImg img.w-50{
        width: 90% !important;
        margin-top: 15%;
    }
 }